*{
    
}
.divBoxParent{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.first_child_div{
    width: 300px;
    height: 280px;
    background-color: antiquewhite;
}

.child_div_1{
    padding: 20px;
}

.child_div_2{
    padding: 10px;
}

.main_p{
    font-size: x-small;
    font-weight: 600;
}

.main_input{
    width: 180px;
    height: 20px;
}

.main_button{
    width : 190px;
    height : 25px
}
.button_div{
    margin-top: 10px;
    text-align: 25px;
}

.p_button{
    font-size: x-small;

}
.continer_div{
 

}